.navbar{
  display: flex;
  flex-direction: column ;
  align-items: flex-start;
  .navItem {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    height: 50px;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    border-radius: 0 35px 35px 0;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    margin-bottom: 10px;
    transition: 0.5s;
    .title{
      color: #0a7295;
    }

    .iconCircle{
      width: 40px;
      height: 40px;
      background-color: #2ba0c7;
      border-radius: 20px;
      color: #fff;
      box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
      -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
    }

    &::before{
      content: "";
      width: 2px;
      height: 100%;
      background-color: #2ba0c7;
      margin-right: 10px;
    }

    &:hover {
      width: 97%;
      color: #ffffff;
      background-color: #2ba0c7;
      &::before{
        background-color: #0a7295;
      }
    }

    &:hover .title {
      color: #fff;
    }

    &:hover .iconCircle {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

